@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-Medium.ttf') format('truetype'),
         url('font/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 1500px;
}

body {
  background: #000;
  color: white;
  width: 95%;
  max-width: 1500px;
  margin: 0 auto;
}

section {
  margin: 5rem 2rem;
}


header {
  background: black;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 95%;
  max-width: 1500px;
}

.logo {
  font-size: 1.25rem;
  margin: 1rem;
  text-transform: uppercase;
}


@media (min-width: 900px) {
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: black;
  }
}

.section-one {
  margin: 11rem 2rem 0;
}

.header {
  font-size: 4.5rem;
}

.section-one-paragraph {
  margin: 2rem 0;
  width: 70%;
  max-width: 500px;
  line-height: 1.5rem;
}


.learn-more-btn {
  background: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: .8rem;
  text-decoration: none;
  color: black;
}

.learn-more-btn:hover {
  background: black;
  color: white;
}



.proclamation h3 {
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}


.flex-group {
  display: flex;
  justify-content: ;
  align-items: center;
  gap: 3rem;
}

.cor p {
  margin-bottom: 2rem;
}


.section-five-flex-group {
  flex-direction: row-reverse;
}

.cory p {
  margin-bottom: 2rem;
}


.homelast p {
  margin-bottom: 2rem;
}


@media (max-width: 800px) {
  .flex-group {
    flex-direction: column;
  }
}


.pna h3 {
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.section-cory-btn {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  width: 7.5rem;
}
